<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W54DTMS');</script>
    <!-- End Google Tag Manager -->
    
    <link rel="canonical" href="https://www.kanamic.net/" />
    <link href="https://www.kanamic.net/en/" hreflang="en" rel="alternate">
    <link href="https://www.kanamic.net/" hreflang="ja" rel="alternate">
    <link href="https://www.kanamic.net/" hreflang="x-default" rel="alternate">
    <meta charset="utf-8" />
    <title> System for Elderly Care / Elderly Care Software｜Kanamic Network </title>
    <meta name="keywords" content="Kanamic Network, Kanamic, Nursing Care Software, Nursing Care System, Elderly Care Software, Elderly Care System, Community Comprehensive Care" />
    <meta name="description" content="Kanamic Network’s elderly care software makes your business more efficient and supports communication with your local partners via our cloud service. Please contact us. " />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <script type="text/javascript" src="en/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="en/common/js/multilingual.js"></script>
    <script type="text/javascript" src="en/common/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="en/common/js/ua.js"></script>
    <link href="en/common/css/fonts.css" type="text/css" rel="stylesheet" />
    <link href="en/common/css/style.css?20250116" type="text/css" rel="stylesheet" />
    <link href="en/common/js/remodal/remodal.css" type="text/css" rel="stylesheet" />
    <link href="en/common/js/remodal/remodal-default-theme.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="en/common/js/slick.min.js"></script>
    <script type="text/javascript" src="en/common/js/remodal/remodal.js"></script>
    <!-- gNavのバナーを読み込む -->
    <script type="text/javascript" src="en/common/js/smbn.js"></script>

    <!-- jisseki.jsonファイルからデータ取得 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../en/common/data/function-data.js" defer></script>

    <!-- 右下の資料請求float-button -->
    <!-- <script type="text/javascript" src="en/common/js/float-button.js"></script> -->
    <!-- 左下のIT導入補助金float-button -->
    <!-- <script type="text/javascript" src="en/common/js/float-button2.js"></script> -->

    <!--[if lte IE 9]>
        <style type="text/css">
          .gradient {
            filter: none;
          }
        </style>
        <script src="/en/common/js/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if IE 7]>
        <link href="/en/common/css/ie7.css" rel="stylesheet" type="text/css" />
      <![endif]-->
  </head>

  <body class="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W54DTMS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!--float-button-->
    <div class="float-button"></div> 
    <div class="float-button2"></div> 
    <!--remodal -->

    <!--<script type="text/javascript">
        $(function () {
          var lists = [
        '<a href="https://youtu.be/HELnH1bx7KY" target="blank_"><img src="img/top/youtube/thumb14.jpg" alt="ヘルスケアが経済を壊した？新型コロナで加速する日本の構造変化。" /></a>'
          ];

          var rNo = Math.floor(Math.random() * lists.length);
          document.getElementById("randomBoxA").innerHTML = lists[rNo];
        });
      
      $(function () {
          var lists = [
        '<a href="https://youtu.be/1BZaLX3Mras" target="blank_"><img src="img/top/youtube/thumb01.jpg" alt="山本拓真と世界的コンセプター 坂井直樹のYouTube対談"></a>',
            '<a href="https://youtu.be/BOoO1vMlhsU" target="blank_"><img src="img/top/youtube/thumb02.jpg" alt="山本拓真と株式会社IBJ代表取締役社長 石坂 茂のYouTube対談"></a>',
            '<a href="https://youtu.be/ayDwrYIjCEw" target="blank_"><img src="img/top/youtube/thumb03.png" alt="山本拓真と株式会社幸楽苑ホールディングス代表取締役社長 新井田 昇のYouTube対談"></a>',
        '<a href="https://youtu.be/QXplXk4lDjE" target="blank_"><img src="img/top/youtube/thumb05.jpg" alt="山本拓真と厚生労働大臣 衆議院議員 田村憲久のYouTube対談"></a>',
        '<a href="https://youtu.be/2JZyXO6EYzI" target="blank_"><img src="img/top/youtube/thumb08.jpg" alt="山本拓真と東京オリンピック・パラリンピック担当大臣、元環境大臣、元内閣府特命担当大臣 参議院議員 丸川珠代のYouTube対談" /></a>',
            '<a href="https://www.youtube.com/watch?v=VYsdk55DICI" target="blank_"><img src="img/top/youtube/thumb06.jpg" alt="山本拓真と株式会社ブイキューブ 代表取締役社長CEO 間下直晃のYouTube対談"></a>',
            '<a href="https://youtu.be/UAdoQbYG7l0" target="blank_"><img src="img/top/youtube/thumb09.jpg" alt="山本拓真と株式会社ティーケーピー代表取締役社長 河野貴輝のYouTube対談" /></a>',
            '<a href="https://www.youtube.com/watch?v=N-rHEIBsHDM&t=10s" target="blank_"><img src="img/top/youtube/thumb10.jpg" alt="山本拓真と認定NPO法人 健康都市活動支援機構のYouTube対談" /></a>',
            '<a href="https://youtu.be/meJCL3zcueM" target="blank_"><img src="img/top/youtube/thumb11.jpg" alt="山本拓真とモデル兼介護福祉士 上条 百里奈のYouTube対談" /></a>',
      
          ];

          var rNo = Math.floor(Math.random() * lists.length);
          document.getElementById("randomBoxB").innerHTML = lists[rNo];
        });

        window.remodal = {
          namespace: "remodal",
          defaults: {
            hashTracking: false,
            closeOnConfirm: true,
            closeOnCancel: true,
            closeOnEscape: true,
            closeOnAnyClick: false,
          },
        };
      </script>-->
    
    <script type="text/javascript">
      $(function () {
        var lists = [
      '<a href="https://www.youtube.com/watch?v=YYS2Mux6R4s" target="blank_"><img src="img/top/youtube/thumb14_en.png" alt="Super-aged Society x Digitalization = ?" /></a>'
        ];

        var rNo = Math.floor(Math.random() * lists.length);
        document.getElementById("randomBoxA").innerHTML = lists[rNo];
      });
    
      $(function () {
        var lists = [
      '<a href="https://www.youtube.com/watch?v=l2yNYodC7e4" target="blank_"><img src="img/top/youtube/thumb01_en.jpg" alt="The Great Japanese Designer, Naoki Sakai"/>',
      '<a href="https://www.youtube.com/watch?v=fEWbcyPtAUM&t=799s" target="blank_"><img src="img/top/youtube/thumb02_en.jpg" alt="Marriage Matching Service in Japan"/>',
      '<a href="https://youtu.be/43Xiqsr93w0" target="blank_"><img src="img/top/youtube/thumb05_en.png" alt="Japan’s Big Challenge: Former Minister of Health on Japan’s Super Elderly Society"/></a>'
        ];

        var rNo = Math.floor(Math.random() * lists.length);
        document.getElementById("randomBoxB").innerHTML = lists[rNo];
      });

      window.remodal = {
        namespace: "remodal",
        defaults: {
          hashTracking: false,
          closeOnConfirm: true,
          closeOnCancel: true,
          closeOnEscape: true,
          closeOnAnyClick: false,
        },
      };
    </script>
    
    <div id="wrapper" itemscope itemtype="http://schema.org/Organization">
      <header>
        <div class="header_text">
          <div class="header_info_position">
            <p>
              Kanamic Cloud Service: Elderly Care Software / Community
              Comprehensive Care (Medical and Elderly Care Communications
              System)
            </p>
            <div class="langswitch">
              <a href="#">Language<span id="lang_arrow" class="icon-Aarrow-down"></span></a>
              <div class="lang_opt">
                <a href="../" id="jp" class="langswitchJa">Japanese</a>
                <a href="../" id="eg" class="lang_selected">English</a>
              </div>
            </div>
          </div>
        </div>

        <div class="inner">
          <p id="siteLogo"><a href="./">KANAMIC NETWORK</a></p>
          <nav id="gNav">
            <ul>
              <li class="nav01">
                <span>Our service</span>
                <ul>
                  <li class="nav_subtitle">
                    <a href="care/">Elderly Care System</a>
                    <ul>
                      <li> <a href="care/houkatsu.html">Regional Comprehensive Care Centers</a> </li>
                      <li> <a href="care/kyotaku.html">In-home elderly care support offices</a> </li>
                      <li> <a href="care/houmon.html">Elderly Care Business Operators (Home-visit Services)</a> </li>
                      <li> <a href="care/tsusho.html">Elderly Care Business Operators (Outpatient Day Care)</a> </li>
                      <li> <a href="care/shisetsu.html">Elderly Care Business Operators (Residential Services, In-facility Services)</a> </li>
                      <li> <a href="care/yougu.html">Elderly Care Business Operators (Welfare Equipment)</a> </li>
                      <li> <a href="care/chiikimitchaku.html">Elderly Care Business Operators (Community-Based)</a> </li>
                      <li> <a href="care/shogai.html">Comprehensive Support for the Disabled</a> </li>
                    </ul>
                  </li>
                  <li class="nav_subtitle"> <a href="medical/">Medical Care System</a> </li>
                  <li class="nav_subtitle"> <a href="child-care/">Childcare Support System</a> </li>
                </ul>
              </li>
              <li class="nav04">
                <a href="company/"><span>Corporate Information</span></a>
                <ul>
                  <li><a href="company/concept.html">Company Concept</a></li>
                  <li><a href="company/message.html">Top Message</a></li>
                  <li><a href="company/outline.html">Company Overview</a></li>
                  <li><a href="company/officer.html">Board of Directors</a></li>
                  <li><a href="company/access.html">Locations</a></li>
                  <li><a href="company/group.html">Group Companies</a></li>
                </ul>
              </li>
              <li class="navir "><a href="ir/index.html"><span>Investor Relations Information</span>
                </a>
                <ul>
                  <li><a href="ir/index.html">Investor Relations Information</a></li>
                  <li><a href="ir/management.html">Top Message</a></li>
                  <li><a href="ir/esg.html">ESG Information</a></li>
                  <li><a href="ir/stock.html">Stock information</a></li>
                  <li><a href="ir/calendar.html">Investor Relations Calendar</a></li>
                  <li><a href="ir/faq.html">FAQ</a></li>
                  <li><a href="ir/irpolicy.html">Disclosure Policy</a></li>
                  <li><a href="ir/disclimer.html">Disclaimer</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      
    </div>
  </body>
</html>
